<h1>Editing quote</h1>
<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>

<br>

<div>
  <%= link_to "Show this quote", @quote, class: "text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %> |
  <%= link_to "Back to quotes", quotes_path, class: "text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" %>
</div>
